<section class=" bg-[var(--charcoal)] pb-10 pt-16">
  <div class="container">
    <div class="flex flex-col w-full items-center justify-center gap-y-10">
      <h1 class="uppercase font-bold h2">get in touch</h1>

      <div class="w-full md:px-56">
        <div
          class="grid grid-cols-1 md:grid-cols-3 w-full justify-between items-center"
        >
          <div class="flex flex-col justify-center items-center gap-y-5">
            <div
              class="w-20 h-20 bg-white text-[var(--sky-blue)] shadow-md rounded-full p-3"
            >
              <svg-icon
                src="assets/icons/heroicons/map-pin.svg"
                class="w-16 h-16"
              ></svg-icon>
            </div>
            <div class="text-center">Ubungo Maji, Dar es Salaam, Tanzania</div>
          </div>
          <div class="flex flex-col justify-center items-center gap-y-5">
            <div
              class="w-20 h-20 bg-white text-[var(--sky-blue)] shadow-md rounded-full p-3"
            >
              <svg-icon
                src="assets/icons/heroicons/envelope.svg"
                class="w-16 h-16"
              ></svg-icon>
            </div>
            <div>
              <a href="mailto:info@email.com" class="footer-link"
                >info&#64;email.com</a
              >
            </div>
          </div>
          <div class="flex flex-col justify-center items-center gap-y-5">
            <div
              class="w-20 h-20 bg-white text-[var(--sky-blue)] shadow-md rounded-full p-2"
            >
              <svg-icon
              src="assets/icons/heroicons/phone.svg"
              ></svg-icon>
            </div>
            <div>
              <a href="tel:+255785506554" class="footer-link"
                >+255 785 506 554</a
              >
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="assets/logo/logo.png" alt="Logo" class="w-20 h-20" />
      </div>
      <div class="flex flex-col items-center justify-center  gap-y-4">
        <h1 class="uppercase">follow us</h1>
        <div class=" grid grid-cols-3  gap-2 text-[var(--sky-blue)] items-center justify-center">
         <div class="w-16 h-16">

          <a href="https://www.facebook.com/atawastanzania" target="_blank" rel="noopener noreferrer" class="social-link">


            <svg-icon src="assets/icons/fontawesome/facebook.svg"  [svgStyle]="{ 'width.px':20 }"></svg-icon>
          </a>
         </div>
        <div class="w-16 h-16">
          <a href="https://x.com/atawas_tanzania" target="_blank" rel="noopener noreferrer" class="social-link">
            <svg-icon src="assets/icons/fontawesome/twitter.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>


          </a>
        </div>
         <div class="w-16 h-16">
          <a href="https://www.instagram.com/atawas_tz/" target="_blank" rel="noopener noreferrer" class="social-link">

            <svg-icon src="assets/icons/fontawesome/instagram.svg" [svgStyle]="{ 'width.px':32 }"></svg-icon>
          </a>
         </div>
        
        </div>
      </div>
      <div class="border-t w-full text-center pt-5">
        <div class="flex items-center justify-center gap-3">
          <span>&COPY; All Rights Reserved By</span> <em><a>robinson</a></em>
        </div>
      </div>
    </div>
  </div>
</section>
