<div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-10">
      <div class="flex flex-col gap-10 items-center">
        <div
          class="hover:drop-shadow-lg hover:-translate-y-6 p-1 rounded-xl bg-gradient-to-tr from-pink-300 to-blue-300 transition delay-150 duration-300 ease-in-out"
        >
          <div class="bg-white p-10 rounded-lg">
            <h1 class="capitalize text-center mb-4 h3">Our Vision</h1>
            <p class="py-5 px-5">
              The Vision of ATAWAS is to become a world-class association
              promoting best practices in the water sector. It aims to set the
              standard for excellence, innovation, efficiency, and
              sustainability, influencing positive global change. The
              organization aspires to lead advancements, enhance performance,
              and elevate standards within the international water community.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-10 items-center">
        <div
          class="hover:drop-shadow-lg hover:-translate-y-6 p-1 rounded-xl bg-gradient-to-tr from-pink-300 to-blue-300 transition delay-150 duration-300 ease-in-out"
        >
          <div class="bg-white p-10 rounded-lg">
            <h1 class="capitalize text-center mb-4 h3">Our mission</h1>
            <p class="py-5 px-5">
              The Mission of ATAWAS is to foster knowledge, skills, ethics,
              innovations, and research in the water industry through
              collaboration, communication, advocacy, and professional
              development. By promoting partnerships and effective
              communication, ATAWAS aims to address industry challenges,
              advocate for ethical practices and sustainability, and support
              continuous improvement within the global water sector.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>