<div class="container">
    <div class="value-content">
      <div
        class="bg-[var(--lavender-web)] w-[60px] h-[60px] rounded-md p-5 flex items-center justify-center"
      >
        <svg-icon
          src="assets/icons/heroicons/cube.svg"
          class="text-[var(--sky-blue)]"
          [svgStyle]="{ 'width.px': 50 }"
        ></svg-icon>
      </div>
      <h2 class="h2 value-title">OUR CORE VALUE</h2>
      <p class="value-text">
        The effectiveness of ATAWAS in carrying out its diverse roles is
        underpinned by a set of core values that serve as the guiding principles
        for the organization. These values encapsulate the ethos and standards
        that ATAWAS upholds in its operations and interactions with
        stakeholders. The core values of ATAWAS a
      </p>
    </div>
    <ul class="value-list">
      <li class="animate-slideDown">
        <div class="value-card">
          <div class="card-icon">
            <svg-icon
              src="assets/icons/heroicons/check-badge.svg"
              class="text-[var(--sky-blue)]"
              [svgStyle]="{ 'width.px': 50 }"
            ></svg-icon>
          </div>
          <h3 class="h3 card-title">Professionalism</h3>
          <p class="card-text">
            ATAWAS maintains professionalism, competence, ethics, and service
            excellence.
          </p>
        </div>
      </li>
      <li class="animate-slideLeft delay-150">
        <div class="value-card">
          <div class="card-icon">
            <svg-icon
            src="assets/icons/heroicons/shield-check.svg"
              class="text-[var(--sky-blue)]"
              [svgStyle]="{ 'width.px': 50}"
            ></svg-icon>
          </div>
          <h3 class="h3 card-title capitalize">integrity</h3>
          <p class="card-text">
            Integrity drives ATAWAS's honesty, transparency, and ethical
            behavior.
          </p>
        </div>
      </li>
      <li class="animate-slideRight">
        <div class="value-card">

          <div class="card-icon">
            <svg-icon
            src="assets/icons/heroicons/sparkles.svg"
              class="text-[var(--sky-blue)]"
              [svgStyle]="{ 'width.px': 50 }"
            ></svg-icon>
           
          </div>
          <h3 class="h3 card-title capitalize">objectivity</h3>
          <p class="card-text">
            Objectivity ensures ATAWAS's unbiased, impartial, and fact-based
            decision-making.
          </p>
        </div>
      </li>
      <li class="animate-slideUp">
        <div class="value-card">
          <div class="card-icon">
            <svg-icon
            src="assets/icons/heroicons/global-alt.svg"
              class="text-[var(--sky-blue)]"
              [svgStyle]="{ 'width.px': 50 }"
            ></svg-icon>
          </div>

          <h3 class="h3 card-title">Transparency</h3>

          <p class="card-text">
            Transparency underpins ATAWAS's commitment to openness and
            accountability.
          </p>
        </div>
      </li>
    </ul>
  </div>