<div class="container my-20">
  <div class="flex flex-col p-4 md:w-[75%] w-full">
    <div class="border-b-2 border-gray-300 p-2">
      Please let us know if you have a question, want to leave a comment, or
      would the further <br />information about ATAWAS
    </div>
    <div class="w-full">
      <h1 class="text-[var(--sky-blue)] font-normal text-[24px]">
        Contact Details
      </h1>
      <div class="grid grid-cols-2 my-8 gap-28">
        <div>
          <div class="flex gap-x-3">
            <div class="text-[var(--sky-blue)]">
              <svg-icon
                src="assets/icons/heroicons/map-pin.svg"
                [svgStyle]="{ 'width.px': 30 }"
              ></svg-icon>
            </div>
            <div>
              Ministry of Water Offices, Ubungo Maji, Dar es Salaam,
              Tanzania.Association of Tanzanian Water Suppliers (ATAWAS) P.O.
              Box 31254, Address
            </div>
          </div>
          <div class="flex gap-x-3 my-8 items-center">
            <div class="text-[var(--sky-blue)]">
              <svg-icon
                src="assets/icons/heroicons/phone.svg"
                [svgStyle]="{ 'width.px': 30 }"
              ></svg-icon>
            </div>
            <div>
              <a href="tel:+255785506554" class="footer-link"
                >+255 785 506 554</a
              >
            </div>
          </div>
        </div>
        <div>
          <div class="flex gap-x-3">
            <div class="text-[var(--sky-blue)]">
              <svg-icon
                src="assets/icons/heroicons/envelope.svg"
                [svgStyle]="{ 'width.px': 30 }"
              ></svg-icon>
            </div>
            <div>
              <a href="mailto:info@email.com" class="footer-link"
                >info&#64;email.com</a
              >
            </div>
          </div>

          <div class="flex items-center gap-3 my-2">
            <div
              class="w-16 h-16 bg-[var(--sky-blue)] rounded-full flex items-center justify-center social-link text-white"
            >
              <a
                href="https://www.facebook.com/atawastanzania"
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                <svg-icon
                  src="assets/icons/fontawesome/facebook.svg"
                  [svgStyle]="{ 'width.px': 15 }"
                ></svg-icon>
              </a>
            </div>
            <div
              class="w-16 h-16 bg-[var(--sky-blue)] rounded-full flex items-center justify-center social-link text-white"
            >
              <a
                href="https://x.com/atawas_tanzania"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
              >
                <svg-icon
                  src="assets/icons/fontawesome/twitter.svg"
                  [svgStyle]="{ 'width.px': 20 }"
                ></svg-icon>
              </a>
            </div>
            <div
              class="w-16 h-16 bg-[var(--sky-blue)] rounded-full flex items-center justify-center social-link text-white"
            >
              <a
                href="https://www.instagram.com/atawas_tz/"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
              >
                <svg-icon
                  src="assets/icons/fontawesome/instagram.svg"
                  [svgStyle]="{ 'width.px': 20 }"
                ></svg-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
